body
{
  background-color: #000000;
  font-family: monospace;
  color: #ffffff;
  margin: 8px;
}

h1
{
  color: #FFD700;
}

h3
{
  color: #ff00ff;
}

h2
{
  color: #00FF00;
}

a:link
{
  color:#7f7fff;
}
a:visited
{
  color:#7f00ff;
}

#world
{
  width:400px;
  height:400px;
}